* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    background: #fdf9f1;
}
.header {
    background: #1E1E1E;
}
.header-container {
    max-width: 1130px;
    margin: 0 140px 0 170px;
    position: relative;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 83px 0;
}
.header-logo {
    display: flex;
    align-items: center;
}

.logo-title {
    margin-left: 15px;
    max-width: 138px;
    font-weight: 600;
    font-size: 2.51400rem;
    line-height: 32px;

    background: linear-gradient(93.52deg, #E6FF4B 8.71%, #00BD82 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.header-nav {

}
.nav-list {
    display: flex;
    align-items: center;
    gap: 0 3.5rem;
}
.nav-item {
    color: #B5B3AF;
    font-size: 1.6rem;
}
.login{
    display: inline-block;
    color: #FFFFFF; /* Mã màu #FFFFFF cho chữ */
    padding: 9px 25px;
    background: rgba(181, 179, 175, 0.2);
    border-radius: 6px;
    font-size: 1.6rem;
    line-height: 26px;
    text-align: center;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 422px;
}
.header-title {
    max-width: 837px;
    text-align: center;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 5.2rem;
    line-height: 62px;
    background: linear-gradient(93.52deg, #E6FF4B 8.71%, #00BD82 98.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 54px;
}
.header-buttons{
    display: flex;
    align-items: center;
}
.button{
    display: inline-block;
    color: #FFFFFF;
    padding: 18px 30px;
    border-radius: 10px;
    font-size: 1.8rem;
}
.button--primary{
    background: #00BD82;
}
.header-work{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.work-title{
    color: #FFFFFF;
    font-size: 1.8rem;
    line-height: 48px;
    margin-right: 17px;
}
.img-header{
    position: absolute;
    top: calc(100% - 334px);
}
.img-header img{
    width: 100%;
}
.main{
    background: #FDF9F1;
    padding-top: 358px;
}
.info {
    background: #E2F471;
    padding: 48px 0;
}
.info-list {
    display: flex;
    justify-content: center;
    gap: 145px;
}
.info-item__title {
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 55px;
    text-align: center;
    color: #1E1E1E;
}
.info-item__desc {
    font-size: 1.8rem;
    line-height: 28px;
    text-align: center;

    color: #4F4D49;
}
.letter{
    padding-bottom: 63px;
}
.letter-head{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letter-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
    max-width: 629px;
}
.letter-desc {
    font-size: 1.8rem;
    line-height: 28px;
    text-align: center;
    color: #545454;
    max-width: 472px;
}
.letter-container{
    max-width: 1307px;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
}
.letter-info {
}
.news-title {
    max-width: 378px;
    font-weight: 600;
    font-size: 4rem;
    line-height: 50px;
    color: #1E1E1E;
}
.news-text {
    max-width: 508px;
    margin-top: 18px;
    margin-bottom: 37px;
    font-size: 1.8rem;
    line-height: 28px;
    color: #545454;
}
.news-list {
    display: flex;
    gap: 0 74px
}
.news-item {
    flex-basis: 43%;
}
.news-item__img {

}
.news-item__title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 25px;
    color: #1E1E1E;
}
.news-item__text {
    max-width: 268px;
    min-height: 78px;
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 26px;
    color: #545454;
}
.news-item__btn {
    position: relative;
    display: inline-block;
    margin-top: 28px;
    font-size: 1.6rem;
    line-height: 22px;
    color: #1E1E1E;
}
.news-item__btn::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%;
    height: 0.08em; 
    background-color: #00BD82;
}
.news-item__btn:hover::after{
    display: block;
}
.letter-show{
    position: relative;
    display: inline-block;
}
.img-react{
    max-height: 100%; 
    max-width: 100%;
}
.img-news {
    max-height: 100%; 
    max-width: 100%;
    position: absolute;
    left: -146px;
    top: 89px;
}
.feature-container{
    max-width: 1300px;
    display: flex;
    align-items: center;
}

.feature-frame {
    position: relative;
    margin-right: 250px;
}

.feature-frame .feature-img{
    position: absolute;
    top: 50%;
    left: 177px;
    transform: translateY(-50%);
    max-height: 100%;
    max-width: 100%;
}
.feature-title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 50px;
    color: #1E1E1E;
    margin-bottom: 18px;
}
.feature-desc {
    font-family: 'Sora';
    font-size: 1.8rem;
    line-height: 28px;
    color: #545454;
    margin-bottom: 28px;
}
.feature-text {
    font-size: 1.6rem;
    line-height: 26px;
    color: #1E1E1E;
    margin-bottom: 50px;
}
.service{
    padding: 166px 0 140px 0;
}
.service-container{
    max-width: 1100px;
    margin: 0 auto;
}
.service-title{
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    line-height: 63px;
    color: #1E1E1E;
    margin-bottom: 58px;
}
.service-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 23px;
}
.service-item{
    flex: 1;
    padding-top: 50px;
    padding-left: 41px;
    height: 334px;
}
.service-item .service-img{
    margin-bottom: 43px;
}
.service-item .service-item__title{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 25px;
    color: #1E1E1E;
}
.service-item .service-item__text{
    font-size: 1.6rem;
    line-height: 26px;
    color: #7F7D79;
}
.service-item__active{
    background: #FDF9F1;
    box-shadow: 0px 16px 250px 10px rgba(155, 155, 155, 0.25);
}
.business {
    background: #1E1E1E;
    padding-top: 59px;
    padding-bottom: 68px;
}
.business-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.business-button i{
    margin-left: 19px;
    width: 15px;
    height: 12px;
}
.business-img img {
    max-width: 100%;
}
.business-title {
 
    font-weight: 600;
    font-size: 5rem;
    line-height: 63px;
    color: #FFFFFF;
    max-width: 583px;
    margin-bottom: 10px;
}
.testmonials{
    padding-bottom: 154px;
    padding-top: 140px;
}
.business-text {
    font-size: 1.8rem;
    line-height: 28px;
    color: #B5B3AF;
    margin-bottom: 40px;
}
.testmonials-container{
    max-width: 1155px;
    margin: 0 auto;
}
.testmonials-heading{
    font-weight: 600;
    font-size: 5rem;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
    max-width: 596px;
    margin: 0 auto 76px auto;
}
.testmonials-content{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 0 77px;
}
.testmonials-img{
    width: 100%;
    max-width: 502px;
    height: 470px;
}
.testmonials-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testmonials-info{
    flex: 1;
}
.testmonials-info__desc{
    font-size: 2.3rem;
    color: #1E1E1E;
}
.testmonials-info__author{
    font-weight: 300;
    font-size: 1.766rem;
    line-height: 22px;
    color: #7D7D7D;
    margin-top: 27px;
}
.testmonials-info__rate{
    margin-top: 14px;
    color: #FFC828;
    font-size: 2.3rem;
}
.text-rate{
    margin-top: 9px;
    font-size: 1.766rem;
    line-height: 22px;
    color: #1E1E1E;
}
.slick-slider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.slick-prev,
.slick-next {
    width: 59px;
    height: 57px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #DCD4C5;
}
.slick-next {
    margin-left: 8px;
    order: 3;
    left: 90%;
}
.slick-prev {
    order: 2;
    left: calc(90% - 59px - 8px);
}
.library{
    padding-bottom: 140px;
}
.library-container{
    max-width: 1010px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.library-head {
    max-width: 683px;
}
.library-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 63px;
    text-align: center;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.library-desc {
    max-width: 326px;
    font-size: 1.8rem;
    line-height: 28px;
    text-align: center;
    color: #545454;
    margin: 0 auto;
}
.library-list-title {
    display: flex;
    gap: 0 50px;
    margin-bottom: 86px;
    margin-top: 31px;
}

.item-title {
    font-weight: 600;
    font-size: 2.01926rem;
    line-height: 25px;
    text-align: center;
    color: #1E1E1E;
}
.item-title--active {
    width: 132px;
    height: 50px;
    background: #1E1E1E;
    border-radius: 12.6204px;
}
.library-list-imgs {
    display: flex;
    justify-content: space-between;
    gap: 0 25px;
    margin-bottom: 36px;
}
.library-item {
    flex: 1;
    height: 361px;
}
.library-item-link {

}
.item-img{
    max-width: 100%;
    margin-bottom: 13px;
}
.library-item-title {
    font-weight: 600;
    font-size: 1.76685rem;
    line-height: 22px;
    color: #00BD82;
    margin-bottom: 9px;
}
.library-item-desc {
    max-width: 200px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 32px;
    color: #1E1E1E;
}
.footer {
    padding-top: 70px;
    background: #1E1E1E;
    text-align: center;
}
.footer-heading {
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    line-height: 63px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer-text {
    font-size: 1.8rem;
    line-height: 28px;
    text-align: center;
    color: #B5B3AF;
    max-width: 338px;
    margin: 0 auto;
}
.footer-button{
    margin-top: 35px;
}
.footer-container {
    text-align: initial;
    padding: 76px 99px 82px 134px;
    display: flex;
    gap: 0 114px;
}
.footer-type-email{
    max-width: 279px;
}
.footer-desc,
.footer-address{
    max-width: 255px;
    margin-top: 31px;
    font-size: 1.6rem;
    line-height: 26px;
    color: #B5B3AF;
    margin-bottom: 15px;
}
.footer-menu{
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 30px 20px;
    flex-wrap: wrap;
}
.footer-menu .footer-list > h5{
    color: #FFFFFF;
}
.footer-item-menu > a{
    color: #B5B3AF;

}
.meunu-title{
    margin-bottom: 22px;
    font-size: 1.8rem;
    line-height: 28px;
}
.footer-item-link{
    font-size: 1.8rem;
    line-height: 48px;
}